
.personaldetails
{
        border: 2px solid white;
            width: 896px;


}

table th{
        border: 1px solid;
    /* padding: 5px; */
    /* align-items: flex-start; */
    /* align-content: flex-start; */
    margin-left: 14px;
    padding-right: 41px;
    padding-left: 15px;
    padding-top: 6px;
    padding-bottom: 4px;
        text-align: left;
            background-color: rgba(0, 0, 0, 0.5);
       


}
table td{


    width: 100%;
    border: 1px solid white;
    padding-left: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}