
html,body{

    padding: 0;
    margin: 0;
    height: 100%;
}

#inputContainer *{
    background-color: #002664;
    font-family: Helvetica Neue;
    font-weight: normal;
    color: #fff;
    line-height: 1em;
    padding: 2px;
    display: block;
    margin-left: 20px;
    margin-top: 10px;
 }

#inputContainer {

    margin-left: 300px;
    margin-top: 300px;
    width: 30%;
}

#inputContainer button{
     font-size: 16px;
    padding: 4px;
    border: 1px solid #fff;
    align-content: center;
    color: #fff;
    display: block;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 150px;
    width: 20%;
    border-radius: 7px;
}

#inputContainer button:hover{
    cursor: pointer;
}

#inputContainer h2{
    text-align: center;
}

#inputContainer input[type="text"], input[type="date"]{

    border: 0;
    border-bottom: 1px solid #fff;
    height: 20px;
    line-height: 20px;
    width: 60%;
    
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}

    
#inputContainer label{
    color: #fff;
    font-size: 17px;
   }

